[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
gunicorn = "==20.0.4"
python-dateutil = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
