* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
  background: #e0fcfc;
  color: black;
}

h1 {
  font-family: "Didot, serif";
  color: #e0fcfc;
}

.app {
  /* width: 900vw; */
  max-width: 1170px;
  margin: 3rem auto;
  margin-left: 1rem;
  margin-right: 1rem;
  /* display: grid; */
  /* gap: 1rem; */
  background: #e0fcfc;
  /* Border radius is what allows you to nicely get those rounded corners */
  border-radius: 1rem;
  padding: 1rem 2rem;
}
